################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackUTD2025.API/.vs/HackUTD2025.API
